In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import PublicAnalysis,\
                    Calculator

file_path = "data/apt_1.xlsx"
anal = PublicAnalysis(file_path)

## 데이터 소개
- 해당 데이터는 108가구의 1년치 월 별 사용량 데이터를 가지고 있는 데이터이다.
- 이 중, 1월달 데이터를 이용하여 공용부의 전기요금 구성요소들의 특징을 살펴보도록 한다.

In [3]:
anal.set_init()
anal.meter_year.iloc[:, :10]

,아파트1-104-1206,아파트1-104-303,아파트1-104-1307,아파트1-104-1208,아파트1-104-408,아파트1-104-203,아파트1-103-1402,아파트1-103-402,아파트1-103-1201,아파트1-103-801
1,99,10,23,40,39,197,218,228,84,223
2,94,77,18,135,30,192,201,230,154,188
3,96,77,20,169,28,216,231,241,247,232
4,75,76,30,127,58,217,226,232,250,209
5,165,150,161,7,75,164,216,224,200,189
6,186,148,108,6,48,182,211,225,192,192
7,292,136,273,6,52,247,375,306,253,287
8,311,7,240,6,49,318,390,345,271,319
9,173,7,98,6,41,231,214,239,183,193
10,149,7,30,8,35,200,202,209,193,224
11,21,2,0,7,17,197,209,178,190,210
12,21,2,24,16,41,178,232,190,186,218

In [8]:
anal.select_month() # Default Value : 1
anal.meter_month.iloc[:5]

            name usage (kWh)
0  아파트1-104-1206          99
1   아파트1-104-303          10
2  아파트1-104-1307          23
3  아파트1-104-1208          40
4   아파트1-104-408          39

## 기본요금

In [9]:
calc = Calculator(anal.meter_month)

In [10]:
calc.datas

              name usage (kWh)
0    아파트1-104-1206          99
1     아파트1-104-303          10
2    아파트1-104-1307          23
3    아파트1-104-1208          40
4     아파트1-104-408          39
..             ...         ...
103   아파트1-103-903         273
104  아파트1-103-1106         255
105   아파트1-103-705         228
106  아파트1-103-1505         384
107   아파트1-103-406         317

[108 rows x 2 columns]