In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [2]:
from _src import PublicAnalysis,\
                    Calculator

file_path = "data/apt_1.xlsx"
anal = PublicAnalysis(file_path)

## 데이터 소개
- 해당 데이터는 108가구의 1년치 월 별 사용량 데이터를 가지고 있는 데이터이다.
- 이 중, 1월달 데이터를 이용하여 공용부의 전기요금 구성요소들의 특징을 살펴보도록 한다.

In [3]:
anal.set_init()
anal.meter_year.iloc[:, :10]

,아파트1-104-1206,아파트1-104-303,아파트1-104-1307,아파트1-104-1208,아파트1-104-408,아파트1-104-203,아파트1-103-1402,아파트1-103-402,아파트1-103-1201,아파트1-103-801
1,99,10,23,40,39,197,218,228,84,223
2,94,77,18,135,30,192,201,230,154,188
3,96,77,20,169,28,216,231,241,247,232
4,75,76,30,127,58,217,226,232,250,209
5,165,150,161,7,75,164,216,224,200,189
6,186,148,108,6,48,182,211,225,192,192
7,292,136,273,6,52,247,375,306,253,287
8,311,7,240,6,49,318,390,345,271,319
9,173,7,98,6,41,231,214,239,183,193
10,149,7,30,8,35,200,202,209,193,224
11,21,2,0,7,17,197,209,178,190,210
12,21,2,24,16,41,178,232,190,186,218

In [103]:
anal.select_month() # Default Value : 1
anal.meter_month.iloc[:5]

            name usage (kWh)
0  아파트1-104-1206          99
1   아파트1-104-303          10
2  아파트1-104-1307          23
3  아파트1-104-1208          40
4   아파트1-104-408          39

In [107]:
anal.set()
anal.bill_table.get

            기본요금    전력량요금  기후환경요금  연료비조정액   부가가치세  전력산업기반기금   최종청구금액
APT       654480  4907088  235224 -133164  566352    209520  6438960
세대부       197480  3118820  164805  -93312  334205    123150  3798980
공용부       457000  1788268   70419  -39852  232147     86370  2594352
실제 공용부 값       0        0       0       0       0         0  2639980
오차             0        0       0       0       0         0    45628

## 기본요금

99 6490.0
10 1130.0
23 1130.0
40 1410.0
39 1330.0
197 14910.0
218 21580.0
228 23220.0
84 5190.0
223 22390.0
236 24530.0
387 49360.0
222 22230.0
397 51010.0
319 38180.0
711 132240.0
251 26990.0
326 39330.0
255 27660.0
257 27990.0
424 62770.0
156 11390.0
228 23220.0
350 43270.0
253 27320.0
239 25030.0
129 9060.0
345 42460.0
376 47550.0
238 24860.0
380 48200.0
267 29630.0
219 21730.0
183 13700.0
297 34560.0
473 74620.0
322 38670.0
309 36530.0
416 60820.0
262 28800.0
285 32590.0
240 25200.0
237 24700.0
406 58410.0
280 31770.0
291 33580.0
386 49200.0
233 24040.0
331 40150.0
222 22230.0
284 32420.0
405 58170.0
420 61800.0
254 27490.0
341 41800.0
257 27990.0
169 12500.0
214 20920.0
298 34730.0
351 43440.0
381 48370.0
263 28970.0
498 80670.0
371 46730.0
369 46400.0
371 46730.0
214 20920.0
111 7520.0
184 13790.0
148 10700.0
151 10950.0
181 13540.0
290 33410.0
180 13450.0
20 1130.0
176 13100.0
220 21900.0
308 36370.0
181 13540.0
203 19110.0
494 79710.0
436 65660.0
264 29130.0
280 31770.0
463 72200.0
324 39000.0
455 70270.0
316 37680.0
351 43440.0
422 62280.0
386 49200.0
310 36700.0
389 49680.0
343 42130.0
689 126920.0
266 29460.0
387 49360.0
387 49360.0
202 18940.0
329 39820.0